@font-face {
    font-family: 'American Captain';
    src: url('/assets/American Captain.ttf') format('truetype');
}

:root {
    --pink: #F81C7B;
    --dark-pink: #341928;
    --darker-pink: #2D1522;
    --pink-gradient-color-1: #F9655F;
    --pink-gradient-color-2: #F28061;

    --blue: #43BFE8;
    --dark-blue: #2E2D43;
    --darker-blue: #222131;
    --blue-gradient-color-1: #0b1119;
    --blue-gradient-color-2: #9B63C3;

    --border-color: rgba(255, 255, 255, 10%);
    --hamburger-color: #669CDC;
}


* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: var(--dark-blue);
    color: white;
    font-family: "American Captain";
}

.border {
    border: 2px solid var(--border-color);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center Icon & Hamburger */
    width: 100%;
    padding: 0.4em 0.6em; /* Padding for Icon & Hamburger : Top Bottom | Left Right */
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--darker-blue);
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add space between bars */
    border-radius: 2px; /* "Curved" top & bottom bars */
    overflow: hidden; /* applying "Curved" effect */
    width: 30px;
    height: 24px; /* Spacing between bars */
    cursor: pointer;
}

.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color: var(--hamburger-color);
}

.menu-container {
    display: flex;
    width: 100dvw;
    height: 100dvh; 
    top: 0px;
    position: fixed;
    z-index: 10;
    transition: right 0.4s ease-in-out;
    right: -100vw; /* Hide menu */
}

.menu-container-active {
    right: 0;
}

.menu {
    position: relative; /* for "close-menu-container" */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--border-color); /* Menu left border */
    background-color: var(--darker-blue);
    padding: 0 1em;
}

.close-menu-container {
    position: absolute; /* for top & right absolute positioning */
    width: 1.4em;
    height: 1.4em;
    top: 18px;
    right: 15px;
    cursor: pointer;
}

/* STOLEN FROM: https://stackoverflow.com/questions/18611195/x-close-button-only-using-css */
.close-menu:before, .close-menu:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 4px;
    border-radius: 2px;
    background-color: var(--pink);
}

.close-menu:before {
    transform: rotate(45deg);
}

.close-menu:after {
    transform: rotate(-45deg);
}

.menu-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 2.5em;
    margin-top: 5em; /* space between "menu-options" and top */
}

.menu-options > div > a {
    color: var(--blue-gradient-color-2); /* WHAT COLOR ? */
    /* AMPAR AMPAR SIGMA
    SIGMAKU BLUM GYATT
    GYATT SKIBIDI
    DIHURUNG OHIO RIZZ */
}

.blurred-layer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: rgba(0, 0, 0, 60%);
    backdrop-filter: blur(5px);
}

.blurred-layer > p {
    font-size: 0.5em;
    margin-bottom: 0.5em;
    padding: 0 1em;
    width: 100%;
    color: #AEADB2;
    text-align: center;
}


@media (max-width: 768px) {
    /*! HOME SECTION STYLE */
    #welcome-page {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: none;
        background-color: var(--darker-pink);
        overflow-x: hidden;
        padding: 20px 20px 40px 20px;
        position: relative;
    }
    #welcome-page > h1 {
        margin-top: 10px;
        font-size: 2em;
        width: inherit;
        text-align: center;
        background-image: linear-gradient(to right, var(--pink), var(--pink-gradient-color-1), var(--pink-gradient-color-2));
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        text-shadow: -3px 0px 16px rgba(248, 28, 123, 1);
        /* text-shadow: 0 2px 0 var(--pink), 0 2px 0 var(--pink-gradient-color-1), 0 0 5px var(--pink-gradient-color-2); */
        color: transparent;
    }
    #true-img{
        top: 5;
        bottom: 5;
        left: 1;
        position: absolute;
        background: transparent;
    }
    #mock-img {
        border: 1px solid purple;
        visibility: hidden;
    }
    
    /*! ABOUT SECTION STYLE */
    #about-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: none;
        position: relative;
        overflow-x: hidden;
        height: fit-content;
    }
    .about-title {
        width: 100%;
        background-color: var(--darker-blue);
        padding: 20px 20px 60px 20px;
    }
    .about-title > h1 { 
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 2em;
        width: inherit;
        text-align: start;
        background-image: linear-gradient(to bottom, var(--blue), var(--blue-gradient-color-2));
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent;
        text-shadow: -4px 0 16px rgba(67, 191, 232, 0.5);
        letter-spacing: 1px;
        
    }
    .about-title > p{
        text-align: start;
        color: var(--blue-gradient-color-2);
        font-size: 18px;
    }
    .about-content {
        width: 100%;
        padding: 20px 20px 80px 20px;
        background-color: var(--darker-blue);
    }
    .image-wrapper-about{
        width: auto;
        background: tomato;
        overflow: hidden;
        box-shadow: inset 0 0 10px var(--darker-blue); /*ini ceritanya mau 
        ngasih shadow didalem konten yang ada image tapi lupa gimana*/
    }
    
    /* COMPETITIONS STYLE */
    #comp-page {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-top: none;
        background-color: var(--darker-pink);
        overflow-x: hidden;
        padding: 30px 20px 20px 20px;
        position: relative;
    }
    
    .comp-m-title {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .comp-title {
        font-size: 1.5em;
    }
    .comp-title > h1 {
        background-image: linear-gradient(to right, var(--pink), var(--pink-gradient-color-1), var(--pink-gradient-color-2));
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent;
        text-shadow: -4px 0px 16px rgba(248, 28, 123, 0.5);
        /* text-shadow: -3px 0px 10px var(--pink) */
    }
    .comp-title > h1 > span {
        background-image: linear-gradient(to bottom, var(--blue), var(--blue-gradient-color-2));
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent;
        letter-spacing: 1px;
        text-shadow: -4px 0px 8px var(--blue);
        margin-left: 2px;
    }
}

.invisible {
    visibility: hidden;
}

