@font-face {
    font-family: 'American Captain';
    src: url('/assets/American Captain.ttf') format('truetype');
}

:root {
    --pink: #F81C7B;
    --dark-pink: #341928;
    --darker-pink: #2D1522;
    --pink-gradient-color-1: #F9655F;
    --pink-gradient-color-2: #F28061;

    --blue: #43BFE8;
    --dark-blue: #2E2D43;
    --darker-blue: #222131;
    --blue-gradient-color-1: #0b1119;
    --blue-gradient-color-2: #9B63C3;

    --border-color: rgba(255, 255, 255, 10%);
    --hamburger-color: #669CDC;
}


* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    scroll-behavior: smooth;
    background-color: var(--dark-blue);
    color: white;
    font-family: "American Captain";
}

html, body {
    overflow-x: hidden;
}

.border {
    border: 2px solid var(--border-color);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center Icon & Hamburger */
    width: 100%;
    padding: 0.4em 0.6em; /* Padding for Icon & Hamburger : Top Bottom | Left Right */
    position: fixed;
    top: 0;
    z-index: 13;
    background-color: var(--darker-blue);
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add space between bars */
    border-radius: 2px; /* "Curved" top & bottom bars */
    overflow: hidden; /* applying "Curved" effect */
    width: 30px;
    height: 24px; /* Spacing between bars */
    cursor: pointer;
}

.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color: var(--hamburger-color);
}

.menu-container {
    display: flex;
    width: 100dvw;
    height: 100dvh; 
    top: 0px;
    position: fixed;
    z-index: 15;
    transition: right 0.4s ease-in-out;
    right: -100vw; /* Hide menu */
}

.menu-container-active {
    right: 0;
}

.menu {
    position: relative; /* for "close-menu-container" */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--border-color); /* Menu left border */
    background-color: var(--darker-blue);
    padding: 0 1em;
}

.close-menu-container {
    position: absolute; /* for top & right absolute positioning */
    width: 1.4em;
    height: 1.4em;
    top: 18px;
    right: 15px;
    cursor: pointer;
}

/* STOLEN FROM: https://stackoverflow.com/questions/18611195/x-close-button-only-using-css */
.close-menu:before, .close-menu:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 4px;
    border-radius: 2px;
    background-color: var(--pink);
}

.close-menu:before {
    transform: rotate(45deg);
}

.close-menu:after {
    transform: rotate(-45deg);
}

.menu-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 2.5em;
    margin-top: 5em; /* space between "menu-options" and top */
}

.menu-options > div > a {
    color: var(--blue-gradient-color-2); /* WHAT COLOR ? */
    /* AMPAR AMPAR SIGMA
    SIGMAKU BLUM GYATT
    GYATT SKIBIDI
    DIHURUNG OHIO RIZZ */
}

.blurred-layer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: rgba(0, 0, 0, 60%);
    backdrop-filter: blur(5px);
}

.blurred-layer > p {
    font-size: 0.5em;
    margin-bottom: 0.5em;
    padding: 0 1em;
    width: 100%;
    color: #AEADB2;
    text-align: center;
}

/* --- WELCOME PAGE --- */
/* .welcome-page, .welcome-page * {
    border: 1px solid red;
} */

.welcome-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 29rem;
    padding: 2em 2em;
    background-color: var(--darker-pink);
    overflow: hidden;
    margin-top: 3em; /* Distance between navbar and welcome page (navbar use position fixed) */
}

.welcome-page > .header {
    z-index: 2;
}

.welcome-page > .header > h1 {
    font-size: 3em;
    font-size: clamp(1.8rem, 1.4716rem + 2.3881vw, 3rem);
    text-align: center;
    background-image: linear-gradient(to right, var(--pink), var(--pink-gradient-color-1), var(--pink-gradient-color-2));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    text-shadow: -3px 0px 16px rgba(248, 28, 123, 1);
    /* text-shadow: 0 2px 0 var(--pink), 0 2px 0 var(--pink-gradient-color-1), 0 0 5px var(--pink-gradient-color-2); */
    color: transparent;
}

.welcome-page > .img {
    position: absolute;
    top: 4.5em;
    background: transparent;
    width: clamp(280px, 70vw, 380px);
    z-index: 2;
}

.welcome-page > .img > img {
    width: 100%;
    height: 100%;
}

.stripe-pattern {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      var(--darker-pink) 25%,
      var(--dark-pink) 25%,
      var(--dark-pink) 50%,
      var(--darker-pink) 50%,
      var(--darker-pink) 75%,
      var(--dark-pink) 75%,
      var(--dark-pink) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    z-index: 1;
    animation: scroll-stripe 180s linear infinite;
}

@media (max-width: 768px) {
    .stripe-pattern {
        animation: scroll-stripe 60s linear infinite;
    }
}

@keyframes scroll-stripe {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
}

.welcome-page > .transition {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--darker-blue) 50%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    z-index: 3;
}


/* ABOUT PAGE */
.about-page {
    position: relative;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    background-color: var(--darker-blue);
    /* border: 1px solid red; */
}

.about-title {
    /* border: 1px solid red; */
    margin-bottom: 1.5em;
    z-index: 6;
}

.about-title > h1 { 
    padding: 0 21px;
    font-size: clamp(1.8rem, 1.4716rem + 2.3881vw, 3rem);
    background-image: linear-gradient(to bottom, var(--blue), var(--blue-gradient-color-2));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    text-shadow: -4px 0 16px rgba(67, 191, 232, 0.5);
    letter-spacing: 1px;
}

.about-title > p {
    padding: 0 3em 0 1em;
    margin-top: 0.4em;
    color: var(--blue-gradient-color-2);
    font-size: clamp(0.7rem, 0.14rem + 3.2vw, 1.1rem);
}

@media (max-width: 768px) {
    .about-title > p {
        padding: 0.1em;
    }
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid #43BFE8; */
}
.img-wrapper-about{
    /* overflow: hidden;  */
    width: 16em;
    /* border:1px solid red; */
    /*ini ceritanya mau 
    ngasih shadow didalem konten yang 
    ada image tapi lupa gimana*/
}
.img-wrapper-about > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* COMPETITIONS PAGE */
.comp-page {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top: none;
    background-color: var(--darker-pink);
    padding: 3em 0;
}

.comp-page > .transition {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--darker-blue) 50%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 3;
}

.comp-m-title {
    padding-left: 2em;
    padding-top: 1.2em;
    padding-bottom: 1.5em;
    z-index: 4;
    font-size: 1.8;
}

.comp-m-title h3 {
    margin-left: 15px;
}

.comp-title-container {
    display: flex;
    justify-content: center;
    /* height: 10.7rem; DO NOT TOUCH */
    z-index: 4;
}
.comp-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    font-size: 1.6em;
    width: 100%;
    height: 350px;
}
.comp-title > .orange-text > h1 {
    background-image: linear-gradient(to right, var(--pink), var(--pink-gradient-color-1), var(--pink-gradient-color-2));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    text-shadow: -4px 0px 16px rgba(248, 28, 123, 0.5);
    white-space: nowrap;
}
.comp-title > .blue-text > h1 {
    background-image: linear-gradient(to bottom, var(--blue), var(--blue-gradient-color-2));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    text-shadow: -4px 0px 8px rgba(28, 248, 237, 0.5);
    text-align: end;
    white-space: nowrap;
}
.orange-text {
    position: absolute;
    left: 5%;
}
.blue-text {
    position: absolute;
    right: 5%;
    bottom: 0;
    padding-bottom: 30px;
    /* transform: translateY(-1.5em);
    transform: translateX(-1.5em); */
    display: flex;
    align-items: end;
    z-index: 10;
}

@media (max-width: 768px) {
    .comp-title {
        font-size: 1.3em;
    }
    .blue-text {
        /* padding-bottom: 60px; */
        transform: translateY(-40px);
    }
    .comp-m-title {
        padding-left: 0.3em;
        padding-top: 1.2em;
        padding-bottom: 1.5em;
        z-index: 4;
        font-size: 1.8;
    }
    .comp-m-title h3 {
        margin-left: 10px;
    }
}

.comp-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 15px;
    padding: 30px 15px;
    height: fit-content;
    z-index: 4;
}
.comp-list-box {
    display: flex;
    border: 3px solid var(--pink);
    padding: 1em 1em;
    border-radius: 5px;
    height: 180px;
    gap: 10px;
    max-width: 500px;
}

@media (max-width: 768px) {
    .comp-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .comp-list-box {
        padding: 0.5em 0.5em;
        /* padding: 0.1em; */
    }
}

.comp-list-box > .box-img {
    border: 3px solid var(--pink);
    width: 160px;
}
.box-img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.comp-list-box > .box-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 0.1em 0;
}
.box-detail > .detail-header {
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--pink), var(--pink-gradient-color-2));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    margin-bottom: 6px;
    /* NOTICE! ADD GRADIENT */
}
.box-detail > .detail-button {
    padding: 2em 4em;
    color: var(--pink);
    border: 3px solid var(--pink);
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
    /* NOTICE! ADD GRADIENT */
    /* NOTICE! ADD FONT SIZE */
}
.box-detail > .detail-button:hover {
    transform: scale(0.9);
    transition: all 0.2s ease-in;
}
.box-detail > .detail-button:focus {
    background: rgb(248,28,123);
    background: linear-gradient(135deg, rgba(248,28,123,1) 0%, rgba(249,101,95,1) 55%);
    color: white;
    transform: scale(0.9);
    border: none;
    transition: all 0.2s ease-in;
}

/*! FOOTER PAGE STYLING */
#footer-page {
    width: 100%;
    height: fit-content;
    background-color: var(--darker-blue);
    border-top: 2px solid gray;
}
.footer-head {
    width: inherit;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 20px 70px;
}
.footer-center {
    width: inherit;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding-left: 3em;
}
.foot-img {
    width: 400px;
    height: 250px;
    overflow: hidden;
    background-color: #2E2D43;
}
.foot-img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.foot-desc {
    width: inherit;
    font-size: 1em;
}
.footer-bottom {
    width: inherit;
    height: fit-content;
    padding: 0 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .footer-head {
        width: inherit;
        height: fit-content;
        display: flex;
        align-items: center;
        padding: 20px 30px;
    }
    .footer-center {
        width: inherit;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 0 30px;
        border: 1px solid;
    }
    .foot-img {
        width: 200px;
        height: 160px;
        overflow: hidden;
        background-color: #2E2D43;
        border: 1px solid;
    }
    .foot-img > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .foot-desc {
        width: inherit;
        font-size: 0.6em;
        text-align: justify;
        border: 1px solid;
    }
    .footer-bottom {
        font-size: 0.6em;
    }
}
/* BACKUP.CSS HERE */

.invisible {
    visibility: hidden;
}

