:root {
    --pink: #F81C7B;
    --dark-pink: #341928;
    --darker-pink: #2D1522;
    --pink-gradient-color-1: #F9655F;
    --pink-gradient-color-2: #F28061;


    --blue: #43BFE8;
    --dark-blue: #2E2D43;
    --darker-blue: #222131;
    --blue-gradient-color-1: #0b1119;
    --blue-gradient-color-2: #9B63C3;


    --border-color: rgba(255, 255, 255, 10%);
    --hamburger-color: #669CDC;
}


* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: var(--dark-blue);
    color: white;
    font-family: "American Captain";
}

.border {
    border: 2px solid var(--border-color);
}


nav {
    width: 100%;
    padding: 0.4em;
    height: fit-content;
}

#inner-nav {
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    padding: inherit;
    background-color: var(--darker-blue);
}

#hamburgers {
    width: fit-content;
    position: absolute;
    z-index: 2;
    right: 15px;
}

#hamburger-1, #hamburger-2, #hamburger-3 {
    width: 30px;
    height: 4px;
    margin-top: 4px;
    background-color: var(--hamburger-color);
}

#hamburger-1 {
    border-radius: 2px 2px 0px 0px;
}

#hamburger-3 {
    border-radius: 0px 0px 2px 2px;
}

#hamburger-active {
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 60%);
    backdrop-filter: blur(5px);
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    
}

#navbar-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: none;
    margin-left: auto;
    border-right: none;
    border-bottom: none;
    background-color: var(--darker-blue);
    width: 7em;
    height: 100vh;
    padding: 1em;
}

#navbar-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5em;
    padding: 0.5em;
    text-decoration: underline;

}

#welcome-page {
    width: 100%;
    border-top: none;
    position: relative;
    background-color: var(--darker-pink);
    overflow-x: hidden;
    height: fit-content;

}

#welcome-page > h1 {
    margin-top: 10px;
    font-size: 2em;
    width: inherit;
    text-align: center;
    background-image: linear-gradient(to right, var(--pink), var(--pink-gradient-color-1), var(--pink-gradient-color-2));
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
}

#true-img{
    right: 0%;
    top: 14%;
    position: absolute;
}

#mock-img {
    border: 1px solid purple;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
   

}